* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.image {
	background-image: url('file:///C:/Users/souma/Pictures/loggin/360_F_235634157_vfkYfidtjk43h1WIlbWsieIkg0VL4Qtq.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}
.image:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}
.content {
	
	padding: 60px 32px;
	background: rgba(255, 255, 255, 0.04);
	box-shadow: -1px 4px 28px 0 rgba(0, 0, 0, 0.75);
	color: white;
	/*border: 2px solid ;*/
	width: 370px;
	justify-content: center;
	text-align: center;
	position: absolute;
	z-index: 9;
	transform: translate(-50%,-50%) ;
	top: 50%;
	left: 50%;
}
.box{
    position: relative;
    margin: 10px 10px 0 0;
    /* float: left; */
    /* left: 44px; */
    height: 36px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
}
}
.content h1 {
	font-size: 3.5rem;
    margin: 0 10px 20px;
    position: relative;
    top: -15px;
}
.box input {
	width: 100%;
	height: 100%;
	color: #222;

	font-size: 15px;
}
.log {
	align-items: center;
}
button {
    font-size: 20px;
    width: 100%;
    height: 80%;
    background-color: #1212ff;
}
.log {
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    text-align: center;
}
.show {
	position: absolute;
    background: rd;
    right: 0;
    align-items: cetner;
    color: #222;
    top: 5px;
    cursor: pointer;
    line-height: 25px;
}
.show:hover {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 4px;

}
.log  button {
	cursor:pointer;
	border-radius: 10px;
}
.log  button:hover {
	background-color: #377294;
}
.box1 {
    position: relative;
    margin: 10px 10px 0 0;
    /* float: left; */
    /* left: 44px; */
    height: 36px;
    width: 100%;
    display: flex;

}
.nocount {
	justify-content: space-between;
	display: flex;
}
.nocount a {
	text-decoration: none;
	color: #5d5997;
}
.nocount a:hover {
	text-decoration: underline;
}